[submodule "3rdparty/GameNetworkingSockets"]
	path = 3rdparty/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "3rdparty/FastNoiseSIMD"]
	path = 3rdparty/FastNoiseSIMD
	url = https://github.com/Auburn/FastNoiseSIMD.git
